// Variable
$bP-sp: 767px;
$contW: 960px;


// Mixin
@mixin cf {
	&::after {
		content: "";
		display: block;
		clear: both;
	}
}

@mixin mqSp {
	@media screen and (max-width: $bP-sp) {
		@content;
	}
}
@mixin mqPc {
	@media screen and (min-width: ($bP-sp + 1)) {
		@content;
	}
}
