- var siteUrl = 'http://example.com/';
- var keywords = 'page_keywords';
- var description = 'page_description';
- var ogType = 'article';
- var ogImage = siteUrl + 'assets/images/img_og.png';
- var siteName = 'site_name';
- var title = 'page_title';
- var bodyClass = '';
