extends inc/_layout
append vars
	- var pageRelPath = relPath;
	//- Optional
	- var description = 'page_description';
	- var ogType = 'website';
	- var title = 'トップページ';
	- var bodyClass = 'p-top';

block content
	.l-contents
		.m-container
			main メインコンテンツ
